<hr>

<h3>{{model.name}}</h3>

<p>{{model.formattedAddress}}</p>

<p>
  <strong>Phone:</strong>
  {{model.phone}}
</p>

<hr>

<p>
  <strong>Email:</strong>
  {{model.email}}
</p>

<p>
  <strong>Website:</strong>
  {{model.website}}
</p>

<p>
  <strong>External ID:</strong>
  {{model.customerId}}
</p>

<hr>

<p>
  <strong>Additionl Info:</strong>
  {{model.additionalInfo}}
</p>

<hr>

<h4>Contacts</h4>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model.contacts as |contact|}}
      <tr>
        <td>{{contact.fullName}}</td>
        <td>{{contact.title}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.email}}</td>
        <td>
          
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="5" style="text-align: center; font-style: italic">
          You have no contacts yet.
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>